/* Add here all your CSS customizations */
.select2-selection--multiple {
    min-height: 30px !important;
    height: 100% !important;
    padding-bottom:2px !important;
}

.select2-search__field {
    /*padding-top: 7px !important;*/
    padding-left: 10px !important;
    width:100% !important;
}

.select2-container {
    width: 100% !important;
}

.select2-selection__choice{
    margin-bottom:4px !important;
}