@media only screen and (min-width: 768px) {
    html.fixed .inner-wrapper {
        padding-top: 0;
    }

    html.fixed .sidebar-left {
        top: 0;
    }

    html.fixed .page-header {
        top: 0;
    }
}

.content-body {
    padding-top: 90px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    vertical-align: top;
}

.text-center {
    text-align: center;
}

html .btn-white {
    background-color: #2e353e;
    border-color: #f3f3f3 #ffffff #ffffff;
    color: #ffffff;
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show>.btn-white.dropdown-toggle {
    color: #2e353e;
    background-color: #ffffff;
    border-color: #2e353e;
}

html .btn-white:focus,
html .btn-white.focus {
    -webkit-box-shadow: 0 0 0 3px #2e353e80;
    box-shadow: 0 0 0 3px #2e353e80;
}

html .btn-white:hover,
html .btn-white.hover {
    background-color: #ffffff;
    border-color: #2e353e;
    color: #2e353e;
}

.campo-obrigatorio {
    color: #fff
}

.page-header h2 {
    border-bottom-color: #fff;
}