@font-face {
    font-family: Orbitron;
    src: url('../../../../../assets/fonts/Orbitron-Regular.ttf');
}

@font-face {
    font-family: Orbitron;
    font-weight: bold;
    src: url('../../../../../assets/fonts/Orbitron-Bold.ttf');
}

body {
    overflow: hidden;
    font-family: Orbitron, sans-serif;
}

.card-contador {
    display: none
}

.contador{
    font-size: 130px;
}

html.dark,
html.dark body {
    overflow: hidden !important;
}